.pylintrc
!/.gitignore
.idea/
texput.log

.vscode/
.DS_Store
.tmp/

**/test.mp4

random\ tests/

__pycache__/

images/
Tex/
texts/
partial_movie_files/
test/

media/

**/test.py

.VSCodeCounter/
.venv
.env
